@import '../../../../styles.scss';

.item{
  border-top:3px solid $secondBackColr;
  border-left:3px solid $secondBackColr;
  border-top-left-radius: 50px;
  padding:20px ;
  margin-bottom: 30px;
  cursor: pointer;
}

img
{
  border-top-left-radius: 50px;
}

